<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Spring Security Example</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <span class="navbar-brand" th:text="${user.username}">SITE NAME</span>
    <a href="/logout" class="btn btn-dark">Logout</a>
</nav>
<div class="jumbotron bg-wight ">
    <h1 class="display-5 d-flex align-items-center justify-content-center">User, welcome spring boot security page!</h1>
    <p class="lead d-block d-flex align-items-center justify-content-center">Press "Watch info" button to see full
        information about profile</p>
</div>
<div class="form-group text-center font-weight-bolder"
     style="margin: 5px 0; text-align: center">
    <a th:href="@{/user/{id}(id=${user.id})}" class="btn btn-lg btn-primary">Watch info</a>
</div>
</body>